<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
        <meta http-equiv='cache-control' content='no-cache'> 
        <meta http-equiv='expires' content='0'> 
        <meta http-equiv='pragma' content='no-cache'> 
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <style>
            h1,h2{
                font-family: 'Lato';
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Organize PDF Pages</h1>
        <h2>Arrange and reorder PDF pages</h2>
        <form action = "/" method = "POST" enctype = "multipart/form-data" 
        onsubmit="document.getElementById('message').innerHTML = ''; this.submit(); this.reset(); return false;">
        <br/>
        <input type = "file" name = "file" class = "foo" accept = ".pdf" required/>
        <br/>
        <br/>
        <br/>
        <input type = "submit"/>
        <br/>
        <br/>
        <p id='message'>{{message}}</p>
        </form>

        <div id = "sortablelist" class="list-group col">
            {% if images_list %}
               {% for page_image in images_list %}
                  <div class = "list-group-item" name={{page_image[:-4]}}>
                    <img src="{{url_for('static', filename='images/'+page_image)}}" width="300" height="700" class="center"/>
                  </div>  
               {% endfor %}
            {% endif %}
            </div>
            {% if images_list %}
               <br/>
               <br/>
               <button onclick="myFunction()">Download</button>
            {% endif %}
        <script src="https://sortablejs.github.io/Sortable/Sortable.js"></script>
        <script>
            // https://stackoverflow.com/questions/32545632/how-can-i-download-a-file-using-window-fetch
            // http://sortablejs.github.io/Sortable/
            new Sortable(sortablelist, {
            animation: 150,
            ghostClass: 'blue-background-class'
            });

            function myFunction() {
                var ordered_list = document.getElementsByClassName("list-group-item");
                var ordered_images = [];
                for (var i = 0; i < ordered_list.length; i++) {
                    ordered_images[i] = ordered_list[i].getAttribute("name");
                }
                var body = JSON.stringify({ordered_images:ordered_images});
                fetch("/sorter",
                {
                    method:"post", 
                    body:body,
                    headers: {
                    'Content-Type': 'application/json'
                    }
                }).then( res => res.blob() )
                .then( blob => {
                    var file = window.URL.createObjectURL(blob);
                    // window.location.assign(file);
                    var a = document.createElement("a");
                    document.body.appendChild(a);
                    a.style = "display: none";
                    a.href = file;
                    a.download = "reordered.pdf";
                    a.click();
                    setTimeout(() => {
                    window.URL.revokeObjectURL(file);
                    document.body.removeChild(a);
                    }, 0)
                });
            }
        </script>
    </body>
</html>