<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Encryption.css')}}">
      <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <style>
            h1,h2{
                font-family: 'Lato';
                text-align: center;
            }
        </style>
   </head>
   <body>
      <h1>Encrypt and Decrypt PDF</h1>
      <h2>Protect file with password</h2>
      <form action = "/" method = "POST" enctype = "multipart/form-data" 
         onsubmit="document.getElementById('message').innerHTML = ''; this.submit(); this.reset(); return false;">
         <input type = "file" name = "file" accept = ".pdf" class="foo" required/>
         <br/>
         <br/>
         Password : <input type="password" id="password" name="password" required/>
         <br/>
         <br/>
         <input type="radio" id="encrypt" name="EncryptionType" value="encrypt" required>
         <label for="encrypt">Encrypt</label>
         <input type="radio" id="decrypt" name="EncryptionType" value="decrypt" required>
         <label for="decrypt">Decrypt</label>
         <br/>
         <br/>
         <input type = "submit" value="Download"/>
         <br/>
         <br/>
         <p id='message'>{{message}}</p>
      </form>   
   </body>
</html>